.countriesList {
  margin: 0 auto;
  margin-top: 1em;
  font-size: 1em;
  max-height: 50vh;
  overflow: scroll;
  color: #393E41;
  padding-top: 1em;
  background-color: #ec1b60;
  padding-left: 1em;
  padding-right: 1em;
  width: 575px;
  height: 600px;
  max-width: 99vw;

  &_Row {
    display: flex;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: solid 1px #E7BB41;
    justify-content: space-between;
    align-items: center;
    min-height: 85px; // if the height is not set, list is jumpy when loading and we 

    p {
      margin: 0;
      flex: 33%;
      font-weight: 300;

      &:last-child {
        text-align: right;
      }

      &:nth-child(2n) {
        text-align: center;
      }
    }
  }
}

.countriesList_spinner {
  --size: 62px;

  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  perspective: 800px;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 2em;

  &--inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;

    &.--one {
      left: 0;
      top: 0;
      animation: rotate-one 1s linear infinite;
      border-bottom: 3px solid #fcc10f;
    }

    &.--two {
      right: 0;
      top: 0;
      animation: rotate-two 1s linear infinite;
      border-right: 3px solid #fcc10f;
    }

    &.--three {
      right: 0;
      bottom: 0;
      animation: rotate-three 1s linear infinite;
      border-top: 3px solid #fcc10f;
    }

    @keyframes rotate-one {
      0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
      }
      100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
      }
    }
    
    @keyframes rotate-two {
      0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
      }
      100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
      }
    }
    
    @keyframes rotate-three {
      0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
      }
      100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      }
    }
  }
}
